name: Docker Build

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths: ["docker/**"]
    tags: ["v*.*.*"]

env:
  DOCKER_CLI_EXPERIMENTAL: "enabled"
  REGISTRY_HOSTNAME: hkccr.ccs.tencentyun.com

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            hkccr.ccs.tencentyun.com/public-tools/cronicle
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to tcr
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_HOSTNAME }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./docker/
          platforms: linux/amd64, linux/arm/v7, linux/arm64/v8
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
